.tourist-container-dt {
  margin: 20px auto;
}

.tourist-card {
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.tourist-content {
  display: flex;
  gap: 20px;
}

.tourist-slider {
  width: 70%;
}

.tourist-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.tourist-detail {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.tourist-left {
  margin-bottom: 20px;
  padding: 20px;
}

.tourist-left h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-tourist-dt {
  font-size: 17px;
  color: red !important;
  font-weight: bold;
}

.tourist-rating {
  margin-top: 10px;
}

.tourist-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tourist-book-button {
  width: 200px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.rate_start-dt {
  padding-left: 10px;
}
