.main_tourist {
    width: 1200px;
    max-width: 1200px;
    margin: 20px auto;
}

.nav_tourist span {
    font-size: 1rem;
    font-weight: 600;
    color: #171717;
    text-decoration: none;
}

.title_tourist-page {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    color: #0b5da7;
}