.user-detail-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.user-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.user-detail-header h2 {
  margin: 0;
  font-size: 24px;
}

.user-detail-close-btn {
  color: chartreuse;
  background-color: chocolate;
  border-radius: 50%;
  width: 50px;
  background: none;
  border: none;
  /* font-size: 20px; */
  cursor: pointer;
}

.user-detail-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-detail-info p {
  margin: 5px 0;
}

.user-detail-section {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.user-detail-section h3 {
  margin-top: 0;
}

.user-detail-list {
  list-style-type: none;
  padding: 0;
}

.user-detail-list li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.user-detail-loading,
.user-detail-error {
  text-align: center;
  font-size: 18px;
  color: #888;
}
